<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MgmtSvcCloud</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lvoc14.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lvoc14.scm.gear.host:443</MSDeployServiceURL>
    <DeployIisAppPath>lvoc14</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lvoc14</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CinemaContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppProvaMensal27_09_2017.Models.CinemaContext, WebAppProvaMensal27-09-2017" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mssql6.gear.host;Initial Catalog=leonardovictor;Persist Security Info=True;User ID=bdlvoc14;Password=&quot;Ph7RA8!~oq6N	&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppProvaMensal27_09_2017.Models.ApplicationDbContext, WebAppProvaMensal27-09-2017" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CinemaBd" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CinemaContext.mdf;Initial Catalog=aspnet-WebAppProvaMensal27-09-2017-20170927072245;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CinemaBd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CinemaContext.mdf;Initial Catalog=aspnet-WebAppProvaMensal27-09-2017-20170927072245;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CinemaBd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CinemaContext-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.gear.host;Initial Catalog=leonardovictor;Persist Security Info=True;User ID=bdlvoc14;Password="Ph7RA8!~oq6N	"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.gear.host;Initial Catalog=leonardovictor;Persist Security Info=True;User ID=bdlvoc14;Password="Ph7RA8!~oq6N	"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>